NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVsdGJzd3dwaGVic25rYXl1b3pyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5OTEwMTEsImV4cCI6MjA5NTU2NzAxMX0.FeXHGUhiNSFfrgHIkAOP1Wnwht7rcucnUjQW58N3d-Y
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVsdGJzd3dwaGVic25rYXl1b3pyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTk5MTAxMSwiZXhwIjoyMDk1NTY3MDExfQ.VDz31pphQPM9oW8G_ym4iy33lw9WOwlS8BbJm6gnM_M
